*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}
.text-f3c15f{
  color: #F3C15F;
}
.line-through p {
  text-decoration: line-through;
}
::-webkit-scrollbar{display: none;}